/app/tmp/cache/persistent/cake_*
!/app/tmp/cache/persistent/empty
/app/tmp/cache/models/*
!/app/tmp/cache/models/empty
/app/tmp/cache/views/*
!/app/tmp/cache/views/empty
/app/tmp/logs/*.log
/app/tmp/sessions/*
!/app/tmp/sessions/empty
/app/tmp/smarty/cache/*.php
/app/tmp/smarty/compile/*.php
/app/tmp/tests/*
!/app/tmp/tests/empty
/app/tmp/cache/rss*
/app/tmp/cache/long/*
!/app/tmp/cache/long/empty
/app/tmp/cache/short/*
!/app/tmp/cache/short/empty
/app/config/core.php
/app/config/database.php
.DS_Store
Icon